@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-style {
    @apply bg-cardC rounded-3xl h-full w-full flex flex-col justify-start items-center;
  }

  .tooltip-style {
    @apply absolute z-10 p-1 text-xs bg-gray-700 text-white rounded;
  }

  .vtl-diff-items-align {
    @apply flex flex-col justify-between items-center
  }

  .hoz-diff-item-align {
    @apply flex justify-between items-center
  }

  .vtl-same-item-align {
    @apply flex flex-col justify-center items-center gap-2
  }

  .hoz-same-item-align {
    @apply flex justify-center items-center gap-2
  }

  .onResponsiveLeftSift {
    @apply max769:absolute max769:top-0 max769:left-0 max769:z-50 max769:translate-x-[-200px];
  }

   .onResponsiveLeftvisible {
    @apply max769:absolute max769:top-0 max769:left-0 max769:z-50 max769:translate-x-[200px];
  }

  .onResponsiveRightSift {
    @apply max769:absolute max769:top-0 max769:right-0 max769:z-50 max769:translate-x-[150%];
  }

  .onResponsiveRightVisible {
    @apply max769:absolute max769:top-0 max769:right-0 max769:z-50 max769:translate-x-[0%] max769:bg-windowC;
  }
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #181818;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}